<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/register.css"/>
</head>
<body>
    <!-- логотип -->
    <div class="logo-container">
        <a href="/">
            <img src="/static/images/Логотип.png" alt="Лина НСК" class="logo-img">
        </a>
    </div>

    <!-- Пунктирная линия -->
    <hr class="dashed-line">

    <h2>Регистрация</h2>

    <form id="registerForm">
        <input type="text" placeholder="ФИО" id="full_name"><br><br>
        <input type="text" placeholder="Телефон" id="phone"><br><br>
        <input type="email" placeholder="Email" id="email"><br><br>
        <input type="text" placeholder="Регион" id="region"><br><br>
        <input type="password" placeholder="Пароль" id="password"><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p class="register-link">
        Есть аккаунт? <a href="/login-page">Войти</a>
    </p>
    <script src="/static/js/register.js"></script>
</body>
</html>
