<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css"/>
</head>
<body>
    <!-- логотип -->
    <div class="logo-container">
        <img src="/static/images/Логотип.png" alt="Лина НСК" class="logo-img">
    </div>

    <!-- Пунктирная линия -->
    <hr class="dashed-line">

    <h2>Регистрация</h2>

    <form id="registerForm">
        <input type="text" placeholder="ФИО" id="full_name"><br><br>
        <input type="text" placeholder="Телефон" id="phone"><br><br>
        <input type="email" placeholder="Email" id="email"><br><br>
        <input type="text" placeholder="Регион" id="region"><br><br>
        <input type="password" placeholder="Пароль" id="password"><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>

    <script>
        document.getElementById("registerForm").addEventListener("submit", async (e) => {
            e.preventDefault();

            const data = {
                full_name: document.getElementById("full_name").value,
                phone: document.getElementById("phone").value,
                email: document.getElementById("email").value,
                region: document.getElementById("region").value,
                password: document.getElementById("password").value
            };

            const response = await fetch("http://127.0.0.1:8000/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            alert(result.message);
        });
    </script>
</body>
</html>